body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.vertical-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select.order-by {
  margin-left: 0.5em;
}

.vote-score-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.vote-score-number {
  margin: 0 0.6em 0 0;
}

.vote-score-controls {
  margin-left: 0.6em;
}

.list-group-item > * {
  margin-bottom: 6px;
}

.list-group-item h4 {
  margin-bottom: 12px;
}

.post {
  padding: 0 10px 10px;
  border-radius: 10px;
  background: #e5eefc;
  margin-bottom: 10px;
}

.post h1 {
  margin-top: 10px;
  padding-top: 10px;
}

label,
select.new-post-select {
  display: block;
}

.new-comment {
  margin-top: 10px;
}

.comment {
  display: flex;
  justify-content: space-between;
}

.content {
  max-width: 90%;
  word-wrap: break-word;
}

.controls-container {
  display: flex;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.edit-icon:hover {
  fill: #66bfde;
  cursor: pointer;
}

.delete-icon:hover {
  fill: #d4524f;
  cursor: pointer;
}

/* Remove scroll on the body when react-modal is open */
.ReactModal__Body--open {
  overflow: hidden;
}

.comments-header-container {
  margin-top: 20px;
}

.comments-header-container h2 {
  margin: 0px;
}

.comments-header-container hr {
  margin-top: 10px;
}

.post-buttons {
  display: flex;
}

.post-buttons .edit-icon {
  margin-right: 10px;
}

.post-list-item {
  display: flex;
  justify-content: space-between;
}

button.go-back {
  margin-top: 10px;
}
