body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.vertical-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select.order-by {
  margin-left: 0.5em;
}

.vote-score-container {
  display: flex;
  align-items: center;
}

.vote-score-number {
  margin: 0 0.6em 0 0;
}

.vote-score-controls {
  margin-left: 0.6em;
}
